common/config/*
var/*
error/*
frontend/modules/walmart/views/templates/*
.idea/*
frontend/modules/neweggmarketplace/error/*
frontend/modules/neweggca/error/*
frontend/modules/walmart/components/Xml/Feed.xml
admin/assets/*
frontend/modules/walmart/filestorage/*
backend/config/*
admin/var/
backend/console/*
frontend/config/*
NeweggCategoryJson/*
frontend/modules/base/*
frontend/modules/Base/*
frontend/modules/referral/error/*
frontend/modules/sears
frontend/modules/jet
frontend/modules/jet_new
frontend/modules/mailautomation
frontend/modules/walmart
frontend/modules/neweggmarketplace
frontend/modules/neweggcanada
vendor/*
swatchimage/*
frontend/web/static/*
frontend/web/integration/assets
frontend/web/integration/css
frontend/web/integration/js
frontend/web/integration/static
frontend/web/integration/frontend/*
frontend/web/assets
frontend/web/css
frontend/web/js
frontend/web/var
frontend/web/integration
frontend/web/integration/sitemap.xml
frontend/web/integration/robots.txt
admin
frontend/modules/*
admin/var/*

/nbproject/private/