/css
/images
/img
/js
/static
/assets
/integration
/integration/js
/integration/images
/integration/css
/integration/assets
/integration/static
/integration/fonts
/integration/jet-policy
/integration/walmart-policy
/marketplace-integration
